 /* .row {
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
} */

/* BLOCCO PERCHE */
#why .row img{
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.container_lg.grey{
  background-color: #f9f9f9;
}

img {
  display: inline-block;
  height: 200px;
}

/* Screen md */
@media screen and (min-width: 768px) and (max-width: 991px){
  /* Utility */
  .my-md-0{
    margin-top: 0;
    margin-bottom: 0;
  }


  /* /Utility */


  #lezioni, #steps, #why{
    margin-top: 0px;
    padding-top: 20px;
  }

  img{
    height: 100px;
  }

  [class*="col-"]{
    padding: 20px;
  }

  /* #lezioni h3, #steps h3, #why h3{
    margin-top: 0;
    margin-bottom: 0;
  } */

  #lezioni, #why{
    background-color: #f2f2ce;
  }

  #why [class*="col-"]{
    margin-top: 0px;
  }

}

/* Screen xs */
@media screen and (max-width: 767px){
  #lezioni, #steps, #why{
    margin-top: 0px;
    padding-top: 20px;
  }

  img{
    height: 100px;
  }

  [class*="col-"]{
    padding: 20px;
  }

  #lezioni h3, #steps h3, #why h3{
    margin-top: 0;
    margin-bottom: 0;
  }

  #lezioni, #why{
    background-color: #f2f2ce;
  }

  #why [class*="col-"]{
    margin-top: 0px;
  }
}



